/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 61, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 137.5%;
}

/* line 64, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 22px;
  line-height: 1.54545em;
}

/* line 8, ../_sass/partials/_typography.scss */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

/* line 14, ../_sass/partials/_typography.scss */
h1 {
  font-size: 2.54545em;
  line-height: 1.21429em;
}

/* line 18, ../_sass/partials/_typography.scss */
p {
  margin: 0 0 1em 0;
}

/* line 22, ../_sass/partials/_typography.scss */
.readable {
  max-width: 50em;
}

/* -------------------------------------------------------------------------*/
/* Layout */
/* line 16, ../_sass/main.scss */
.container, body {
  *zoom: 1;
  max-width: 34em;
  _width: 34em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after, body:after {
  content: "";
  display: table;
  clear: both;
}
