@import url("http://fonts.googleapis.com/css?family=Hammersmith+One");
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 61, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 112.5%;
}

/* line 64, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 18px;
  line-height: 1.61111em;
}

/* line 11, ../_sass/partials/_typography.scss */
body {
  font-family: "Hammersmith+One, HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

/* line 17, ../_sass/partials/_typography.scss */
h1 {
  font-size: 2em;
  line-height: 1.61111em;
}

/* line 21, ../_sass/partials/_typography.scss */
h2 {
  font-size: 1.5em;
  line-height: 2.14815em;
}

/* line 25, ../_sass/partials/_typography.scss */
.readable {
  max-width: 50em;
}

/* line 29, ../_sass/partials/_typography.scss */
p {
  margin-bottom: 1.61111em;
}

/* line 33, ../_sass/partials/_typography.scss */
.noWrap {
  white-space: nowrap;
}

/* line 1, ../_sass/partials/_navigation.scss */
.mainNav {
  margin: 1.5em 0;
}
/* line 3, ../_sass/partials/_navigation.scss */
.mainNav ul {
  list-style: none;
  text-align: center;
}
/* line 8, ../_sass/partials/_navigation.scss */
.mainNav li {
  border-bottom: 1px solid #D0D0D0;
}

/* line 15, ../_sass/partials/_navigation.scss */
.horizontalList li {
  display: inline-block;
  vertical-align: top;
}

/* line 1, ../_sass/partials/_branding.scss */
.logo--header {
  margin: 1.5em auto;
  display: block;
  width: 6em;
}

/* line 7, ../_sass/partials/_branding.scss */
.tagline {
  text-align: center;
  font-style: italic;
}

/* line 1, ../_sass/partials/_footer.scss */
[role="contentinfo"] {
  margin: 5em 0 0 0;
  padding: 0 1em;
  text-align: center;
  border-top: 1px solid #D0D0D0;
}
/* line 7, ../_sass/partials/_footer.scss */
[role="contentinfo"] p {
  font-size: 0.66667em;
  line-height: 2.41667em;
}

/* -------------------------------------------------------------------------*/
/* Layout */
/* line 19, ../_sass/main.scss */
.container, body {
  *zoom: 1;
  max-width: 34em;
  _width: 34em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after, body:after {
  content: "";
  display: table;
  clear: both;
}
