<header>
	<a href="/index.html">
		<img src="http://dl2.glitter-graphics.net/pub/549/549062c91it46lgr.gif" alt="{{ site.name }}" class="logo--header">
	</a>
	<p class="tagline">Living a plant-based life-style is possible in Detroit!</p>

	<nav>
	    <ul>
	        <li><a href="/restaurants/">Restaurants</a></li>
	        <li><a href="/groceries/">Groceries</a></li>
	        <li><a href="/learning/">Learning</a></li>
	        <li><a href="/contribute/">Contribute</a></li>
	    </ul>
	</nav>

</header>
