[role="contentinfo"] {
	margin: 5em 0 0 0;
	// background-color: rgba(192, 192, 192, 1);
	padding: 0 1em;
	text-align: center;
	border-top: 1px solid #D0D0D0;
	p {

		@include adjust-font-size-to(12px);

	}
}

