
a {
	color: #4C6B87;
	text-decoration: none;
}

a:hover {
	background-color: #E8E8E8;

	-webkit-transition: background 0.2s ease-out,color 0.2s ease-out,box-shadow 0.4s ease-in-out;
	-moz-transition: background 0.2s ease-out,color 0.2s ease-out,box-shadow 0.4s ease-in-out;
	-o-transition: background 0.2s ease-out,color 0.2s ease-out,box-shadow 0.4s ease-in-out;
	transition: background 0.2s ease-out,color 0.2s ease-out,box-shadow 0.4s ease-in-out;
}

a:hover:after {
	background-color: #E8E8E8;

	-webkit-transition: background 0.2s ease-out,color 0.2s ease-out,box-shadow 0.4s ease-in-out;
	-moz-transition: background 0.2s ease-out,color 0.2s ease-out,box-shadow 0.4s ease-in-out;
	-o-transition: background 0.2s ease-out,color 0.2s ease-out,box-shadow 0.4s ease-in-out;
	transition: background 0.2s ease-out,color 0.2s ease-out,box-shadow 0.4s ease-in-out;
}