.img {
	width: 100%;
}

.img--notFull {
	max-width: 100%;
}

.map {
	position: relative;
	padding-bottom: 50%;
	padding-top: 100px;
	height: 0;
	overflow:hidden;
}

.map iframe,
.map object,
.map embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}