.mainNav {
	margin: 1.5em 0;
	ul {
		list-style: none;
		text-align: center;
	}

	li {
		border-bottom: 1px solid #D0D0D0;
	}
}


.horizontalList {
    li {
        display: inline-block;
        vertical-align: top;
    }
}
