@import "compass/typography/vertical_rhythm";
@import "compass/typography/links";
@import url(http://fonts.googleapis.com/css?family=Hammersmith+One);

$base-font-size: 18px;
$base-line-height: 29px;
@include establish-baseline;


body {
   font-family: "Hammersmith One, HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}


h1 {
  @include adjust-font-size-to(36px);
}

h2 {
  @include adjust-font-size-to(27px);
}

.readable {
        max-width: 50em;
}

p {
	@include trailer();
}

.noWrap {
	white-space: nowrap;
}