@import url("http://fonts.googleapis.com/css?family=Hammersmith+One");
@import "compass/typography/vertical_rhythm";
@import "compass/typography/links";
@import "modular-scale";

// ms(-10) =  4.27148px
// ms(-9)  =  4.80542px
// ms(-8)  =  5.69531px
// ms(-7)  =  6.40723px
// ms(-6)  =  7.59375px
// ms(-5)  =  8.54297px
// ms(-4)  =  10.125px
// ms(-3)  =  11.39063px
// ms(-2)  =  13.5px
// ms(-1)  =  15.1875px
// ms(0)   =  18px
// ms(1)   =  20.25px
// ms(2)   =  24.0px
// ms(3)   =  27px
// ms(4)   =  32.0px
// ms(5)   =  36.0px
// ms(6)   =  42.66667px
// ms(7)   =  48.0px
// ms(8)   =  56.88889px
// ms(9)   =  64.0px
// ms(10)  =  75.85185px


$base-font-size: 20px;
$base-line-height: $base-font-size * 1.5;
//keeps spacing in between lines not so large
// $round-to-nearest-half-line: true;
@include establish-baseline;

$ms-base: $base-font-size $base-line-height;
$ms-ratio: $fourth;
@debug ms-list(-10, 10, $ms-base, $ms-ratio);








body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}


h1 {
	@include adjust-font-size-to(ms(7));
	font-family: 'Hammersmith One', sans-serif;
	font-weight:bold;
}

h2 {
	@include adjust-font-size-to(ms(6));
	font-weight:bold;
}

h3 {
	@include adjust-font-size-to(ms(5));
	font-weight:bold;
}

h4 {
	@include adjust-font-size-to(ms(4));
	font-weight:bold;
}

.readable {
        max-width: 50em;
}

p {
	font-size: ms(0);
	@include trailer(.5);
	>a {
		-webkit-box-shadow: inset 0 -3px 0 0 #FFDE8D;
		-moz-box-shadow: inset 0 -3px 0 0 #FFDE8D;
		box-shadow: inset 0 -3px 0 0 #FFDE8D;
	}
}

.noWrap {
	white-space: nowrap;
}