@import url("http://fonts.googleapis.com/css?family=Hammersmith+One");
@import "compass/typography/vertical_rhythm";
@import "compass/typography/links";

/* Modular Scale
----------------------
18px @ 1:1.618
36px @ 1:1.618

Pixels	Ems	Ems @ 16	% of 13
845.479	46.971	52.842	6,503.685
645.910	35.884	40.369	4,968.538
522.546	29.03	32.659	4,019.585
399.203	22.178	24.95	3,070.792
322.958	17.942	20.185	2,484.292
246.726	13.707	15.42	1,897.892
199.603	11.089	12.475	1,535.408
152.488	8.472	9.531	1,172.985
123.364	6.854	7.71	948.954
94.245	5.236	5.89	724.962
76.245	4.236	4.765	586.500
58.248	3.236	3.641	448.062
47.123	2.618	2.945	362.485
36.000	2		2.25	276.923 *
29.124	1.618	1.82	224.031
22.250	1.236	1.391	171.154
18.000	1		1.125	138.462 *
13.752	0.764	0.86	105.785
11.125	0.618	0.695	85.577
8.499	0.472	0.531	65.377
6.876	0.382	0.43	52.892
5.253	0.292	0.328	40.408
4.250	0.236	0.266	32.692
3.247	0.18	0.203	24.977
2.627	0.146	0.164	20.208
2.007	0.112	0.125	15.438
1.624	0.09	0.102	12.492
1.240	0.069	0.078	9.538
1.004	0.056	0.063	7.723
----------------------*/
$base-font-size: 18px;
$base-line-height: 29px;
//keeps spacing in between lines not so large
$round-to-nearest-half-line: true;
@include establish-baseline;


body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}


h1 {
	@include adjust-font-size-to(36px);
	font-family: 'Hammersmith One', sans-serif;
	font-weight:bold;
}

h2 {
	@include adjust-font-size-to(29.124px);
	font-weight:bold;
}

h3 {
	@include adjust-font-size-to(22.250px);
	font-weight:bold;
}

.readable {
        max-width: 50em;
}

p {
	@include trailer(.5);
	>a {
		-webkit-box-shadow: inset 0 -3px 0 0 #FFDE8D;
		-moz-box-shadow: inset 0 -3px 0 0 #FFDE8D;
		box-shadow: inset 0 -3px 0 0 #FFDE8D;
	}
}

.noWrap {
	white-space: nowrap;
}