@import "compass/typography/vertical_rhythm";

$base-font-size: 22px;
$base-line-height: 34px;
@include establish-baseline;


body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}


h1 {
  @include adjust-font-size-to(56px);
}

.readable {
        max-width: 50em;
}