---
layout: page
title: Restaurants
---

<h3>Midtown</h3>
<ul class="posts">
{% for post in site.posts %}
    {% if post.categories contains 'restaurants' and post.tags contains 'midtown' %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
{% endfor %}
</ul>

<h3>Downtown</h3>
<ul class="posts">
{% for post in site.posts %}
    {% if post.categories contains 'restaurants' and post.tags contains 'downtown' %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
{% endfor %}
</ul>

<h3>Corktown</h3>
<ul class="posts">
{% for post in site.posts %}
    {% if post.categories contains 'restaurants' and post.tags contains 'corktown' %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
{% endfor %}
</ul>

<h3>West Village</h3>
<ul class="posts">
{% for post in site.posts %}
    {% if post.categories contains 'restaurants' and post.tags contains 'west village' %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
{% endfor %}
</ul>