---
layout: default
---
{% if page.website %}
	<h2 class="placeName--hasWebsite">
		<a href="{{ page.website }}">{{ page.title }}</a>
		<i class="fa fa-external-link"></i>
	</h2>
{% elsif user.name == null %}
	<h2>{{ page.title }}</h2>
{% endif %}

{{ content }}

<h3>Information</h3>
<ul>
	{% if page.tel %}
		<li>
				<a href="tel:{{page.tel}}">{{page.tel}}</a>
		</li>
	{% endif %}

	{% if page.twitter %}
		<li>
			<i class="fa fa-twitter">
				<a href="https://twitter.com/{{page.twitter}}">@{{page.twitter}}</a>
			</i>
		</li>
	{% endif %}

	{% if page.instagram %}
		<li>
			<i class="fa fa-instagram">
				<a href="https://instagram.com/{{page.instagram}}">@{{page.instagram}}</a>
			</i>
		</li>
	{% endif %}
</ul>




<div class="map">
	<iframe src="{{ page.location }}" width="612" height="10" frameborder="0" style="border:0"></iframe>
</div>

{% include disqus.html %}
