---
layout: default
---
{% if page.website %}
	<h2 class="placeName--hasWebsite">
		<a href="{{ page.website }}">{{ page.title }}</a>
		<i class="fa fa-external-link"></i>
	</h2>
{% elsif user.name == null %}
	<h2>{{ page.title }}</h2>
{% endif %}

{{ content }}

<h3>Information</h3>
<ul>
	{% if page.hours %}
		<li>
			Hours: {{page.hours}}
		</li>
	{% endif %}

	{% if page.tel %}
		<li>
			<a href="tel:{{page.tel}}">{{page.tel}}</a>
		</li>
	{% endif %}

	{% if page.twitter %}
		<li>
			<i class="fa fa-twitter">
				<a href="https://twitter.com/{{page.twitter}}">@{{page.twitter}}</a>
			</i>
		</li>
	{% endif %}

	{% if page.instagram %}
		<li>
			<i class="fa fa-instagram">
				<a href="https://instagram.com/{{page.instagram}}">@{{page.instagram}}</a>
			</i>
		</li>
	{% endif %}
</ul>


{% if page.instagramID %}
	<div id="instafeed"></div>
	<script type="text/javascript">
	    var userFeed = new Instafeed({
	        get: 'user',
	        userId: {{page.instagramID}},
	        accessToken: '449827118.467ede5.8990725bb3864ed0a034d7814902dfa0',
	        limit: 6,
	        {% raw %}
	        	template: '<a href="{{link}}"><img class="insta-photo" src="{{image}}" /></a>'
	        {% endraw %}
	    });
	    userFeed.run();
	</script>

{% elsif page.instatags %}
	<div id="instafeed"></div>
	<script type="text/javascript">
	    var feed = new Instafeed({
	        get: 'tagged',
	        tagName: 'rvmendoza',
	        clientId: '22152a29d0bf49b7994afaa741f613a5',
	        limit: 6,
	        {% raw %}
	        	template: '<a href="{{link}}"><img class="insta-photo" src="{{image}}" /></a>'
	        {% endraw %}
	    });
	    feed.run();
	</script>


{% endif %}




<div id="instafeed"></div>


<div class="map">
	<iframe src="{{ page.location }}" width="612" height="10" frameborder="0" style="border:0"></iframe>
</div>

{% include disqus.html %}